{% extends "layout.twig" %}

{% block content %}
    <div class="page-header">
        <h1>{{ item.title }}</h1>
    </div>
    <div>
        <div class="page-text">
            {{ item.text|raw }}
        </div>
    </div>
{% endblock content %}
